/***** Estilos para el sistema de asignacion de pacientes-medicos *****/
/***** Samuel Ramírez - Octubre 2017 *****/

body{
  background-color: #f8f8f8;
}

.bg-mv {
  background-color: #0082cd !important;
}

.azul-mv{
  color: #0082cd;
}

.titulo-card{
  color: #fff;
  text-align: center;
}

.espacio-titulo-card{
  height: 1rem;
}

.espacio{
  height: 2em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 20px auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(9,152,193, 0.2);
  border-right: 1.1em solid rgba(9,152,193, 0.2);
  border-bottom: 1.1em solid rgba(9,152,193, 0.2);
  border-left: 1.1em solid #0998c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.badge-accion{
  cursor: pointer;
}

.logo-navbar{
  opacity: 0.9;
}

.logo-navbar:hover{
  opacity: 1.0;
}

.seleccion{
  cursor: pointer;
}

.img-bg-tarjeta{
  filter: blur(2px) grayscale(30%);
  text-shadow: 2px 2px #ff0000;
  max-height: 10em;
}

.con-sombra{
  text-shadow: 1px 1px 8px #000000;
}

.card:hover .img-bg-tarjeta{
  filter: blur(3px) grayscale(0%);
}

.card:hover .con-sombra{
  text-shadow: 1px 1px 10px #000000;
}

.mayusculas{
  text-transform: uppercase;
}

.icono-grande{
  font-size: 5rem;
}

/*COLORES*/
.bg-red-darken {
  background-color: #b71c1c !important;
}

.text-red-darken{
  color: #b71c1c;
}

.bg-pink-darken {
  background-color: #880e4f !important;
}

.text-pink-darken{
  color: #880e4f;
}

.bg-purple {
  background-color: #7b1fa2 !important;
}

.text-purple {
  color: #7b1fa2;
}

.bg-green {
  background-color: #00c853 !important;
}

.text-green {
  color: #00c853;
}

.bg-lime {
  /*background-color: #cddc39 !important;*/
  background-color: #afb42b !important;
}

.text-lime {
  color: #cddc39;
}

.bg-orange {
  background-color: #f57f17 !important;
}

.text-orange {
  color: #f57f17;
}

/*---------- BOTONES PROPIOS ----------*/
/*purple*/
.btn-purple {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.btn-purple:hover {
  color: #fff;
  background-color: #6a1b9a;
  border-color: #6a1b9d;
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.btn-purple:active, .btn-purple.active,
.show > .btn-purple.dropdown-toggle {
  background-color: #6a1b9a;
  background-image: none;
  border-color: #6a1b9d;
}

.btn-outline-purple {
  color: #7b1fa2;
  background-color: transparent;
  background-image: none;
  border-color: #7b1fa2;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
  box-shadow: 0 0 0 3px rgba(123, 31, 162, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
  color: #7b1fa2;
  background-color: transparent;
}

.btn-outline-purple:active, .btn-outline-purple.active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.custom-control-input:checked.purple ~ .custom-control-indicator {
  color: #fff;
  background-color: #7b1fa2;
}

.custom-control-input:focus.purple ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #7b1fa2;
}

.custom-control-input:active.purple ~ .custom-control-indicator {
  color: #fff;
  background-color: #8e24aa ;
}

.custom-control-input:disabled.purple ~ .custom-control-indicator {
  background-color: #ba68c8;
}

.custom-control-input:disabled.purple ~ .custom-control-description {
  color: #868e96;
}
