/***** Estilos para el sistema de asignacion de pacientes-medicos *****/
/***** Samuel Ramírez - Octubre 2017 *****/

body{
  background-color: #f8f8f8;
}

.bg-mv {
  background-color: #0082cd !important;
}

.azul-mv{
  color: #0082cd;
}

.titulo-card{
  color: #fff;
  text-align: center;
}

.espacio-titulo-card{
  height: 1rem;
}

.espacio{
  height: 2em;
}

.espacio-cards{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 20px auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(9,152,193, 0.2);
  border-right: 1.1em solid rgba(9,152,193, 0.2);
  border-bottom: 1.1em solid rgba(9,152,193, 0.2);
  border-left: 1.1em solid #0998c1;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.badge-accion{
  cursor: pointer;
}

.logo-navbar{
  opacity: 0.9;
}

.logo-navbar:hover{
  opacity: 1.0;
}

.seleccion{
  cursor: pointer;
}

.img-bg-tarjeta{
  filter: blur(2px) grayscale(30%);
  text-shadow: 2px 2px #ff0000;
  max-height: 10em;
}

.con-sombra{
  text-shadow: 1px 1px 8px #000000;
}

.card:hover .img-bg-tarjeta{
  filter: blur(3px) grayscale(0%);
}

.card:hover .con-sombra{
  text-shadow: 1px 1px 10px #000000;
}

.mayusculas{
  text-transform: uppercase;
}

.icono-grande{
  font-size: 5rem;
}

/*------------------ COLORES ------------------*/
.bg-red-darken {
  background-color: #c62828 !important;
}

.btn-menu.bg-red-darken:hover {
  background-color: #b71c1c !important;
}

.text-red-darken{
  color: #c62828;
}

.bg-pink-darken {
  background-color: #d81b60 !important;
}

.btn-menu.bg-pink-darken:hover {
  background-color: #ad1457 !important;
}

.text-pink-darken{
  color: #ad1457;
}

.bg-purple {
  background-color: #7b1fa2 !important;
}

.btn-menu.bg-purple:hover {
  background-color: #4a148c !important;
}

.text-purple {
  color: #7b1fa2;
}

.bg-green {
  background-color: #7cb342 !important;
}

.btn-menu.bg-green:hover {
  background-color: #689f38 !important;
}

.text-green {
  color: #7cb342;
}

.bg-lime {
  background-color: #afb42b !important;
}

.btn-menu.bg-lime:hover {
  background-color: #9e9d24 !important;
}

.text-lime {
  color: #cddc39;
}

.bg-orange {
  background-color: #f57f17 !important;
}

.btn-menu.bg-orange:hover {
  background-color: #ff6f00 !important;
}

.text-orange {
  color: #f57f17;
}

.bg-yellow {
  background-color: #ffab00 !important;
}

.btn-menu.bg-yellow:hover {
  background-color: #ff9100 !important;
}

.text-yellow {
  color: #ffab00;
}

.bg-cyan {
  background-color: #00b0ff !important;
}

.btn-menu.bg-cyan:hover {
  background-color: #0091ea !important;
}

.text-cyan {
  color: #00b0ff;
}

.bg-blue {
  background-color: #1565c0 !important;
}

.btn-menu.bg-blue:hover {
  background-color: #0d47a1 !important;
}

.text-blue {
  color: #1565c0;
}

.bg-blue-grey {
  background-color: #37474f !important;
}

.btn-menu.bg-blue-grey:hover {
  background-color: #263238 !important;
}

.text-blue-grey {
  color: #37474f;
}

.bg-teal {
  background-color: #00bfa5 !important;
}

.btn-menu.bg-teal:hover {
  background-color: #009688 !important;
}

.text-teal {
  color: #009688;
}


/*---------- BOTONES PROPIOS ----------*/
/* CYAN */
.btn-cyan {
  color: #fff;
  background-color: #00b0ff;
  border-color: #00b0ff;
}

.btn-cyan:hover {
  color: #fff;
  background-color: #0091ea;
  border-color: #03a9f4 ;
}

.btn-cyan:focus, .btn-cyan.focus {
  box-shadow: 0 0 0 3px rgba(128, 216, 255, 0.5);
}

.btn-cyan.disabled, .btn-cyan:disabled {
  background-color: #b3e5fc ;
  border-color: #b3e5fc ;
}

.btn-cyan:active, .btn-cyan.active,
.show > .btn-cyan.dropdown-toggle {
  background-color: #0091ea;
  background-image: none;
  border-color: #03a9f4 ;
}

.btn-outline-cyan {
  color: #00b0ff;
  background-color: transparent;
  background-image: none;
  border-color: #00b0ff;
}

.btn-outline-cyan:hover {
  color: #fff;
  background-color: #00b0ff;
  border-color: #00b0ff;
}

.btn-outline-cyan:focus, .btn-outline-cyan.focus {
  box-shadow: 0 0 0 3px rgba(128, 216, 255, 0.5);
}

.btn-outline-cyan.disabled, .btn-outline-cyan:disabled {
  color: #e1f5fe;
  border-color: #e1f5fe;
  background-color: transparent;
}

.btn-outline-cyan:active, .btn-outline-cyan.active,
.show > .btn-outline-cyan.dropdown-toggle {
  color: #fff;
  background-color: #00b0ff;
  border-color: #00b0ff;
}

.custom-control-input:checked.cyan ~ .custom-control-indicator {
  color: #fff;
  background-color: #00b0ff;
}

.custom-control-input:focus.cyan ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #00b0ff;
}

.custom-control-input:active.cyan ~ .custom-control-indicator {
  color: #fff;
  background-color: #01579b ;
}

.custom-control-input:disabled.cyan ~ .custom-control-indicator {
  background-color: #b3e5fc;
}

.custom-control-input:disabled.cyan ~ .custom-control-description {
  color: #868e96;
}


/* pink darken */
.btn-pink-darken {
  color: #fff;
  background-color: #d81b60;
  border-color: #d81b60;
}

.btn-pink-darken:hover {
  color: #fff;
  background-color: #ad1457;
  border-color: #880e4f;
}

.btn-pink-darken:focus, .btn-pink-darken.focus {
  box-shadow: 0 0 0 3px rgba(240, 98, 146, 0.5);
}

.btn-pink-darken.disabled, .btn-pink-darken:disabled {
  background-color: #ce93d8;
  border-color: #ce93d8;
}

.btn-pink-darken:active, .btn-pink-darken.active,
.show > .btn-pink-darken.dropdown-toggle {
  background-color: #ad1457;
  background-image: none;
  border-color: #880e4f;
}

.btn-outline-pink-darken {
  color: #d81b60;
  background-color: transparent;
  background-image: none;
  border-color: #d81b60;
}

.btn-outline-pink-darken:hover {
  color: #fff;
  background-color: #d81b60;
  border-color: #d81b60;
}

.btn-outline-pink-darken:focus, .btn-outline-pink-darken.focus {
  box-shadow: 0 0 0 3px rgba(240, 98, 146, 0.5);
}

.btn-outline-pink-darken.disabled, .btn-outline-pink-darken:disabled {
  color: #f8bbd0 ;
  border-color: #f8bbd0 ;
  background-color: transparent;
}

.btn-outline-pink-darken:active, .btn-outline-pink-darken.active,
.show > .btn-outline-pink-darken.dropdown-toggle {
  color: #fff;
  background-color: #d81b60;
  border-color: #d81b60;
}

.custom-control-input:checked.pink-darken ~ .custom-control-indicator {
  color: #fff;
  background-color: #d81b60;
}

.custom-control-input:focus.pink-darken ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #d81b60;
}

.custom-control-input:active.pink-darken ~ .custom-control-indicator {
  color: #fff;
  background-color: #8e24aa ;
}

.custom-control-input:disabled.pink-darken ~ .custom-control-indicator {
  background-color: #ba68c8;
}

.custom-control-input:disabled.pink-darken ~ .custom-control-description {
  color: #868e96;
}


/*purple*/
.btn-purple {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.btn-purple:hover {
  color: #fff;
  background-color: #6a1b9a;
  border-color: #6a1b9d;
}

.btn-purple:focus, .btn-purple.focus {
  box-shadow: 0 0 0 3px rgba(123, 31, 162, 0.5);
}

.btn-purple.disabled, .btn-purple:disabled {
  background-color: #ce93d8;
  border-color: #ce93d8;
}

.btn-purple:active, .btn-purple.active,
.show > .btn-purple.dropdown-toggle {
  background-color: #6a1b9a;
  background-image: none;
  border-color: #6a1b9d;
}

.btn-outline-purple {
  color: #7b1fa2;
  background-color: transparent;
  background-image: none;
  border-color: #7b1fa2;
}

.btn-outline-purple:hover {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.btn-outline-purple:focus, .btn-outline-purple.focus {
  box-shadow: 0 0 0 3px rgba(123, 31, 162, 0.5);
}

.btn-outline-purple.disabled, .btn-outline-purple:disabled {
  color: #ce93d8;
  border-color: #ce93d8;
  background-color: transparent;
}

.btn-outline-purple:active, .btn-outline-purple.active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #7b1fa2;
  border-color: #7b1fa2;
}

.custom-control-input:checked.purple ~ .custom-control-indicator {
  color: #fff;
  background-color: #7b1fa2;
}

.custom-control-input:focus.purple ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #7b1fa2;
}

.custom-control-input:active.purple ~ .custom-control-indicator {
  color: #fff;
  background-color: #c2185b;
}

.custom-control-input:disabled.purple ~ .custom-control-indicator {
  background-color: #f06292;
}

.custom-control-input:disabled.purple ~ .custom-control-description {
  color: #868e96;
}


/* yellow */
.btn-yellow {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}

.btn-yellow:hover {
  color: #fff;
  background-color: #ffa000;
  border-color: #ff8f00;
}

.btn-yellow:focus, .btn-yellow.focus {
  box-shadow: 0 0 0 3px rgba(255, 171, 0, 0.5);
}

.btn-yellow.disabled, .btn-yellow:disabled {
  background-color: #ffe082;
  border-color: #ffe082;
}

.btn-yellow:active, .btn-yellow.active,
.show > .btn-yellow.dropdown-toggle {
  background-color: #ffa000;
  background-image: none;
  border-color: #ff8f00;
}

.btn-outline-yellow {
  color: #ffab00;
  background-color: transparent;
  background-image: none;
  border-color: #ffab00;
}

.btn-outline-yellow:hover {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}

.btn-outline-yellow:focus, .btn-outline-yellow.focus {
  box-shadow: 0 0 0 3px rgba(255, 171, 0, 0.5);
}

.btn-outline-yellow.disabled, .btn-outline-yellow:disabled {
  color: #ffe082;
  border-color: #ffe082;
  background-color: transparent;
}

.btn-outline-yellow:active, .btn-outline-yellow.active,
.show > .btn-outline-yellow.dropdown-toggle {
  color: #fff;
  background-color: #ffab00;
  border-color: #ffab00;
}


/* orange */
.btn-orange {
  color: #fff;
  background-color: #f57f17;
  border-color: #f57f17;
}

.btn-orange:hover {
  color: #fff;
  background-color: #ff6f00;
  border-color: #ff8f00;
}

.btn-orange:focus, .btn-orange.focus {
  box-shadow: 0 0 0 3px rgba(255, 171, 0, 0.5);
}

.btn-orange.disabled, .btn-orange:disabled {
  background-color: #ffe082;
  border-color: #ffe082;
}

.btn-orange:active, .btn-orange.active,
.show > .btn-orange.dropdown-toggle {
  background-color: #ff6f00;
  background-image: none;
  border-color: #ff8f00;
}

.btn-outline-orange {
  color: #f57f17;
  background-color: transparent;
  background-image: none;
  border-color: #f57f17;
}

.btn-outline-orange:hover {
  color: #fff;
  background-color: #f57f17;
  border-color: #f57f17;
}

.btn-outline-orange:focus, .btn-outline-orange.focus {
  box-shadow: 0 0 0 3px rgba(255, 171, 0, 0.5);
}

.btn-outline-orange.disabled, .btn-outline-orange:disabled {
  color: #ffe082;
  border-color: #ffe082;
  background-color: transparent;
}

.btn-outline-orange:active, .btn-outline-orange.active,
.show > .btn-outline-orange.dropdown-toggle {
  color: #fff;
  background-color: #f57f17;
  border-color: #f57f17;
}


/* teal */
.btn-teal {
  color: #fff;
  background-color: #00bfa5;
  border-color: #00bfa5;
}

.btn-teal:hover {
  color: #fff;
  background-color: #009688;
  border-color: #00897b;
}

.btn-teal:focus, .btn-teal.focus {
  box-shadow: 0 0 0 3px rgba(100, 255, 218, 0.5);
}

.btn-teal.disabled, .btn-teal:disabled {
  background-color: #a7ffeb;
  border-color: #a7ffeb;
}

.btn-teal:active, .btn-teal.active,
.show > .btn-teal.dropdown-toggle {
  background-color: #009688;
  background-image: none;
  border-color: #00897b;
}

.btn-outline-teal {
  color: #00bfa5;
  background-color: transparent;
  background-image: none;
  border-color: #00bfa5;
}

.btn-outline-teal:hover {
  color: #fff;
  background-color: #00bfa5;
  border-color: #00bfa5;
}

.btn-outline-teal:focus, .btn-outline-teal.focus {
  box-shadow: 0 0 0 3px rgba(100, 255, 218, 0.5);
}

.btn-outline-teal.disabled, .btn-outline-teal:disabled {
  color: #a7ffeb ;
  border-color: #a7ffeb ;
  background-color: transparent;
}

.btn-outline-teal:active, .btn-outline-teal.active,
.show > .btn-outline-teal.dropdown-toggle {
  color: #fff;
  background-color: #00bfa5;
  border-color: #00bfa5;
}


/* green */
.btn-green {
  color: #fff;
  background-color: #7cb342;
  border-color: #7cb342;
}

.btn-green:hover {
  color: #fff;
  background-color: #689f38;
  border-color: #558b2f;
}

.btn-green:focus, .btn-green.focus {
  box-shadow: 0 0 0 3px rgba(124, 179, 66, 0.5);
}

.btn-green.disabled, .btn-green:disabled {
  background-color: #c5e1a5;
  border-color: #c5e1a5;
}

.btn-green:active, .btn-green.active,
.show > .btn-green.dropdown-toggle {
  background-color: #689f38;
  background-image: none;
  border-color: #558b2f;
}

.btn-outline-green {
  color: #7cb342;
  background-color: transparent;
  background-image: none;
  border-color: #7cb342;
}

.btn-outline-green:hover {
  color: #fff;
  background-color: #7cb342;
  border-color: #7cb342;
}

.btn-outline-green:focus, .btn-outline-green.focus {
  box-shadow: 0 0 0 3px rgba(124, 179, 66, 0.5);
}

.btn-outline-green.disabled, .btn-outline-green:disabled {
  color: #c5e1a5;
  border-color: #c5e1a5;
  background-color: transparent;
}

.btn-outline-green:active, .btn-outline-green.active,
.show > .btn-outline-green.dropdown-toggle {
  color: #fff;
  background-color: #7cb342;
  border-color: #7cb342;
}



/* otras cosas */
.custom-control-input:checked.green ~ .custom-control-indicator {
  color: #fff;
  background-color: #7cb342; /* color normal */
}

.custom-control-input:focus.green ~ .custom-control-indicator {
  box-shadow: 0 0 0 1px #fff, 0 0 0 3px #7cb342;
}

.custom-control-input:active.green ~ .custom-control-indicator {
  color: #fff;
  background-color: #9ccc65; /* color claro */
}

.custom-control-input:disabled.green ~ .custom-control-indicator {
  background-color: #c5e1a5; /* color muy claro */
}

.custom-control-input:disabled.green ~ .custom-control-description {
  color: #868e96; /* gris */
}

.btn-menu{
  margin: 0.5em 0 0.5em 0;
}

.btn-menu > .card-body{
  padding: 1.25rem;
}

@media only screen and (max-width: 600px) {
  .btn-menu{
    margin: 0.2em 0 0.2em 0;
  }
  .btn-menu > .card-body{
    padding: 0 0 0 0;
  }

  /* .btn-menu.bg-orange:hover {
    background-color: #ff6f00 !important;
  } */

  /* .btn-menu {
    background-color: #1565c0 !important;
  }

    .btn-menu:hover,
    .btn-menu:active,
    .btn-menu:after {
    background-color: #0d47a1 !important;
  } */
}