<!-- Pantalla Home -->
<!-- Samuel Ramírez - Octubre 2017 -->

<div class="container animated fadeIn fast">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-info">¡Bienvenido, <strong>{{ usuario.fullName }}!</strong></h4>
      <small class="text-secondary" *ngIf="usuario.PER_clave === 3"><i class="mdi mdi-hospital-marker"></i> {{ usuario.uniNombre }}</small>
    </div>
  </div>
</div>

<div class="espacio"></div>

<div class="container" *ngIf="usuario.PER_administracion === 1">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-purple seleccion animated fadeIn" (click)="irAsignacion()">
        <div class="card-body">
          <h2 class=" text-center"><i class="mdi mdi-medical-bag"></i></h2>
          <h5 class="card-title text-center">Asignación de pacientes</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 espacio-titulo-card d-block d-sm-none d-none d-sm-block d-md-none"></div>

    <div class="col-md-4" *ngIf="usuario.PER_administracion === 1">
      <div class="card text-white bg-green seleccion animated fadeIn" (click)="irlistadoAsignaciones()">
        <div class="card-body">
          <h2 class=" text-center"><i class="mdi mdi-clipboard-text"></i></h2>
          <h5 class="card-title text-center">Listado de asignaciones</h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 espacio-titulo-card d-block d-sm-none d-none d-sm-block d-md-none"></div>

    <div class="col-md-4" *ngIf="usuario.PER_administracion === 1">
      <div class="card text-white bg-yellow seleccion animated fadeIn" (click)="irUsuarios()">
        <div class="card-body">
          <h2 class=" text-center"><i class="mdi mdi-account-settings-variant"></i></h2>
          <h5 class="card-title text-center">Administración de usuarios</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngIf="usuario.PER_clave===1">
  <hr class="animated fadeIn fast">
</div>

<div class="container animated fadeIn" *ngIf="usuario.PER_clave === 1 || usuario.PER_clave === 3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-info">
        Asignaciones pendientes
      </h5>

      <hr *ngIf="pacientesAsignados.length<1">
      <div *ngIf="pacientesAsignados.length<1 && !buscando" class="text-center">
        <div>
          <i class="mdi mdi-lightbulb-on-outline icono-grande text-secondary"></i>
        </div>
        <div>
          En este momento no tiene pacientes asignados
        </div>
      </div>

      <div *ngIf="buscando" class="text-center">
        <div>
          <i class="fa fa-cog fa-spin fa-fw icono-grande text-secondary"></i>
        </div>
        <div>
          Recuperando asignaciones
        </div>
      </div>

      <table class="table table-hover table-sm table-responsive" *ngIf="pacientesAsignados.length>0">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Folio</th>
            <th scope="col">Nombre Paciente</th>
            <th scope="col">Motivo</th>
            <th scope="col">Fecha Asignado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let asignacion of pacientesAsignados; let i = index"
              class="seleccion animated fadeIn fast"
              (click)=seleccionPaciente(asignacion)>
            <th scope="row">{{ i+1 }}</th>
            <td>{{ asignacion.Exp_folio }}</td>
            <td>{{ asignacion.Exp_completo }}</td>
            <td>{{ asignacion.ASI_motivo | uppercase }}</td>
            <td>{{ asignacion.ASI_fechaRegistro | slice:0:10 | date:'dd/MMM/yyyy' }} {{ asignacion.ASI_fechaRegistro | slice:11:16 }} hrs.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- modal unidad -->
<div class="modal fade" id="seleccionaUnidad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-warning text-white">
        <h5 class="modal-title" >
          <i class="mdi mdi-alert"></i>
          Esto es importante
        </h5>
      </div>

      <form [formGroup]="seleccionUnidad" (ngSubmit)="confirmaUnidad()">

      <div class="modal-body">
          <div class="form-group">
            <label for="selectUnidad">Por favor confirme la unidad en la que se encuentra</label>
            <select class="form-control is-invalid" id="selectUnidad"
                    [ngClass]="{'is-invalid': !seleccionUnidad.valid && seleccionUnidad.touched}"
                    formControlName="uniClave">
              <option value="0" selected disabled>* seleccione</option>
              <option value="{{ unidad.Uni_clave }}" *ngFor="let unidad of unidades">{{ unidad.Uni_nombrecorto }}</option>
            </select>
            <small class="form-text text-danger" *ngIf="!seleccionUnidad.valid && seleccionUnidad.touched">
              <i class="mdi mdi-alert-decagram"></i>
              Debe seleccionar una unidad
            </small>
          </div>
      </div>

      <div class="modal-footer">
        <button type="success" class="btn btn-secondary" [disabled]="!seleccionUnidad.valid">
          Confirmar
          <i class="mdi mdi-send"></i>
        </button>
      </div>

      </form>
    </div>
  </div>
</div>
