<!-- Administración de usuarios -->
<!-- Samuel Ramírez - Noviembre 2017 -->

<div class="container animated fadeIn fast">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title text-info">Administración de usuarios</h4>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-md-4">
          <button type="button" class="btn btn-sm btn-info btn-block"  data-toggle="modal" data-target="#crearUsuario">
            <i class="mdi mdi-account-plus"></i>
            Nuevo usuario
          </button>
        </div>

        <div class="col-md-4 espacio-titulo-card d-block d-md-none"></div>

        <div class="col-md-4">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-sm btn-outline-purple" (click)="inactivos()">
              <input type="checkbox" [(ngModel)]="ver.inactivos" ><i class="mdi mdi-eye"></i> Inactivos
            </label>
            <label class="btn btn-sm btn-outline-purple" (click)="administradores()">
              <input type="checkbox" [(ngModel)]="ver.admin"><i class="mdi mdi-eye"></i> Administradores
            </label>
          </div>
        </div >
      </div>
    </div>
  </div>
</div>

<div class="espacio"></div>

<div class="container animated fadeIn">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title text-secondary">
        Usuarios Activos
      </h5>

      <hr *ngIf="buscando">

      <p *ngIf="buscando" class="text-center">
        <span *ngIf="buscando"><i class="fa fa-cog fa-spin fa-fw fa-4x text-secondary"></i></span>
        <br>
        Recuperando datos
      </p>

      <table class="table table-hover table-sm table-responsive" *ngIf="listadoUsuarios.length>0">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Registro</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let user of listadoUsuarios; let i = index">
            <tr class="seleccion animated fadeIn fast text-primary"
                *ngIf="user.USU_login != usuario.username && user.PER_clave === 2 && ver.admin" (click)="editaUsuario(user)">
              <!-- <th scope="row">{{ user.USU_id }}</th> -->
              <!-- <th scope="row">{{ i+1 }}</th> -->
              <td>{{ user.USU_login }}</td>
              <td>{{ user.USU_nombreCompleto }}</td>
              <td>{{ user.USU_fechaRegistro | slice:0:10 | date:'dd/MMM/yyyy' }}</td>
              <td>{{ user.PER_nombre }}</td>
            </tr>

            <tr class="seleccion animated fadeIn fast"
                *ngIf="user.PER_clave >= 3 && user.USU_activo === 1" (click)="editaUsuario(user)">
              <!-- <th scope="row">{{ i+1 }}</th> -->
              <td>{{ user.USU_login }}</td>
              <td>{{ user.USU_nombreCompleto }}</td>
              <td>{{ user.USU_fechaRegistro | slice:0:10 | date:'dd/MMM/yyyy' }}</td>
              <td>{{ user.PER_nombre }}</td>
            </tr>

            <tr class="seleccion animated fadeIn fast text-muted"
                *ngIf="user.USU_activo === 0 && ver.inactivos === true" (click)="editaUsuario(user)">
              <!-- <th scope="row">{{ i+1 }}</th> -->
              <td>{{ user.USU_login }}</td>
              <td>{{ user.USU_nombreCompleto }}</td>
              <td>{{ user.USU_fechaRegistro | slice:0:10 | date:'dd/MMM/yyyy' }}</td>
              <td>{{ user.PER_nombre }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>



<!-- Modal para crear un usuario -->
<div class="modal fade" id="crearUsuario" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title" >
          <i class="mdi mdi-clipboard-account"></i>
          Alta de usuario
        </h5>
        <small>Por favor complete los datos</small>
      </div>

      <form [formGroup]="nuevoUsuario" (ngSubmit)="guardarUsuario()">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="tipoUsuario">Tipo de usuario</label>
                <div class="input-group">
                  <div class="input-group-addon" [ngClass]="{'badge-danger': !nuevoUsuario.controls.tipoUsuario.valid && nuevoUsuario.controls.tipoUsuario.touched}">
                    <i class="mdi mdi-account-convert"></i>
                  </div>
                  <select class="form-control" id="tipoUsuario" formControlName="tipoUsuario" [ngClass]="{'is-invalid': !nuevoUsuario.controls.tipoUsuario.valid && nuevoUsuario.controls.tipoUsuario.touched}">
                    <option disabled value="">* Seleccione una opción</option>
                    <option *ngFor="let permiso of tiposPermisos" value="{{ permiso.PER_clave }}">{{ permiso.PER_nombre }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <hr class="d-none d-md-block">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="nombre" class="d-none d-md-block">Nombre:</label>
                <div class="input-group">
                  <div class="input-group-addon" [ngClass]="{'badge-danger': !nuevoUsuario.controls.nombre.valid && nuevoUsuario.controls.nombre.touched}">
                    <i class="mdi mdi-account"></i>
                  </div>
                  <input type="text" class="form-control mayusculas" id="nombre" placeholder="* Nombre(s)" formControlName="nombre" [ngClass]="{'is-invalid': !nuevoUsuario.controls.nombre.valid && nuevoUsuario.controls.nombre.touched}">
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="aPaterno" class="d-none d-md-block">Apellido Paterno:</label>
                <div class="input-group">
                  <div class="input-group-addon" [ngClass]="{'badge-danger': !nuevoUsuario.controls.aPaterno.valid && nuevoUsuario.controls.aPaterno.touched}">
                    <i class="mdi mdi-account-outline"></i>
                  </div>
                  <input type="text" class="form-control mayusculas" id="aPaterno" placeholder="* Apellido Paterno" formControlName="aPaterno" [ngClass]="{'is-invalid': !nuevoUsuario.controls.aPaterno.valid && nuevoUsuario.controls.aPaterno.touched}">
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="aMaterno" class="d-none d-md-block">Apellido Materno:</label>
                <div class="input-group">
                  <div class="input-group-addon" [ngClass]="{'badge-danger': !nuevoUsuario.controls.aMaterno.valid && nuevoUsuario.controls.aMaterno.touched}">
                    <i class="mdi mdi-account-outline"></i>
                  </div>
                  <input type="text" class="form-control mayusculas" id="aMaterno" placeholder="* Apellido Materno" formControlName="aMaterno" [ngClass]="{'is-invalid': !nuevoUsuario.controls.aMaterno.valid && nuevoUsuario.controls.aMaterno.touched}">
                </div>
              </div>
            </div>
          </div>

          <hr class="d-none d-md-block">

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="email" class="d-none d-md-block">Correo electrónico:</label>
                <div class="input-group">
                  <div class="input-group-addon" [ngClass]="{'badge-danger': !nuevoUsuario.controls.correo.valid && nuevoUsuario.controls.correo.touched}">
                    <i class="mdi mdi-mail-ru"></i>
                  </div>
                  <input type="email" class="form-control" id="email" placeholder="* Correo Electrónico" formControlName="correo" [ngClass]="{'is-invalid': !nuevoUsuario.controls.correo.valid && nuevoUsuario.controls.correo.touched}">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="success" class="btn btn-info" [disabled]="!nuevoUsuario.valid || trabajando">
            <span *ngIf="!trabajando">Crear usuario <i class="mdi mdi-send"></i></span>
            <span *ngIf="trabajando"><i class="fa fa-cog fa-spin fa-fw"></i></span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>



<!-- Modal para editar usuario -->
<div class="modal fade" id="editaUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-purple text-white">
        <h5 class="modal-title" id="titulo"><i class="mdi mdi-clipboard-account"></i> Editar usuario</h5>
        <button type="button" class="close" (click)="cancelaEdicion()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="tipoUsuario">Tipo de usuario:</label>
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="mdi mdi-account-convert"></i>
                </div>
                <select class="form-control" id="tipoUsuario" [(ngModel)]="usrEditado.permiso">
                  <option disabled value="">* Seleccione una opción</option>
                  <option *ngFor="let permiso of tiposPermisos" value="{{ permiso.PER_clave }}">{{ permiso.PER_nombre }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <label for="radios">Status del usuario:</label>
            <div class="input-group custom-controls-stacked">
              <label class="custom-control custom-radio" id="radios">
                <input id="radio1" name="statusUsuario" type="radio" class="purple custom-control-input" [value]="1"
                       [checked]="usrEditado.status === 1" [(ngModel)]="usrEditado.status">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Activo</span>
              </label>
              <label class="custom-control custom-radio">
                <input id="radio2" name="statusUsuario" type="radio" class="purple custom-control-input" [value]="0"
                       [checked]="usrEditado.status === 0" [(ngModel)]="usrEditado.status">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Inactivo</span>
              </label>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6 col-md-3 col-lg-2">
          <button type="button" class="btn btn-outline-secondary btn-block" (click)="cancelaEdicion()">Cancelar</button>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <button type="button" class="btn btn-purple btn-block" (click)="guardaEdicion()"
                  [disabled]="!verificaCambios() || trabajando" *ngIf="usrEditado.id != null">
            <span *ngIf="!trabajando">
              <i class="mdi mdi-content-save"></i> Guardar cambios
            </span>

            <span *ngIf="trabajando">
              <i class="fa fa-cog fa-spin fa-fw"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
