<!-- Vista de los datos de paciente -->
<!-- Samuel Ramírez - Octubre 2017 -->

<div class="container animated fadeIn fast">
  <div class="card border-warning mb-3">
    <!-- <div class="card-header text-white bg-warning">Detalle del paciente</div> -->
    <div class="card-body">
      <div class="row">
        <div class="col-md-9">
          <h4 class="card-title">{{ paciente.nombre }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ paciente.registro }}: {{ paciente.folio }}</h6>
        </div>
        <div class="col-md-3 text-secondary text-right">
          <small>Ultima actualización: {{ digitales.horaConsulta }}</small>
          <button type="button" class="btn btn-light btn-sm seleccion" (click)="getDigitales()">
            <i class="mdi mdi-refresh"></i>
            Actualizar datos
          </button>
        </div>
      </div>
      <span class="text-info animated fadeIn fast" *ngIf="buscando===true">Obteniendo datos <i class="fa fa-cog fa-spin fa-fw"></i></span>
    </div>
  </div>

  <!-- <div class="espacio"></div> -->

  <div class="row">

    <div class="col-md-4" *ngIf="usuario.PER_clave === 1 || usuario.PER_clave === 2">
      <div class="card bg-light text-white seleccion animated fadeIn" (click)="irAsignacion()">
        <img class="card-img img-bg-tarjeta" src="assets/img/bg/doctor.jpg">
        <div class="card-img-overlay row align-items-center">
          <h4 class="col card-title text-center con-sombra">Asignar médico</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card bg-light text-white seleccion animated fadeIn" (click)="abreModal('notasMedicas')">
        <img class="card-img img-bg-tarjeta" src="assets/img/bg/stethoscope.jpg">
        <div class="card-img-overlay row align-items-center">
          <h4 class="col card-title text-center con-sombra">Notas Médicas</h4>
        </div>
      </div>
    </div>

    <div class="col-md-4" *ngIf="digitales.listaDigitales">
      <div class="card bg-light text-white seleccion animated fadeIn" (click)="abreModal('digitales')">
        <img class="card-img img-bg-tarjeta" src="assets/img/bg/documents.jpg">
        <div class="card-img-overlay row align-items-center">
          <h4 class="col card-title text-center con-sombra">Documentos digitales</h4>
        </div>
      </div>
    </div>

    <div class="col-md-12 d-none d-lg-block">
      &nbsp;
    </div>

    <!-- <div class="col-md-4" *ngIf="digitales.listaDigitales">
      <div class="card bg-light text-white seleccion animated fadeIn" (click)="abreModal('facturas')">
        <img class="card-img img-bg-tarjeta" src="assets/img/bg/credit-card.jpg">
        <div class="card-img-overlay row align-items-center">
          <h4 class="col card-title text-center con-sombra">Facturas</h4>
        </div>
      </div>
    </div> -->

  </div>
</div>


<!-- modal notas medicas -->
<div class="modal fade" id="notasMedicas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" >
          <i class="mdi mdi-pencil-box-outline"></i>
          Notas Médicas
        </h5>
        <button type="button" class="close text-white seleccion" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-muted">
        <div class="list-group">
          <a [routerLink]="['/nota-soap']" class="list-group-item list-group-item-action list-group-item-light" data-dismiss="modal">
            <i class="mdi mdi-file-document"></i> Nota SOAP
          </a>
          <a [routerLink]="['/receta-interna']" class="list-group-item list-group-item-action list-group-item-light" data-dismiss="modal">
            <i class="mdi mdi-file-document"></i> Recetas
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light" data-dismiss="modal">
            <i class="mdi mdi-file-document"></i> Nota Prequirurgica <small class="text-info">* Próximamente</small>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light" data-dismiss="modal">
            <i class="mdi mdi-file-document"></i> Nota Postquirurgica <small class="text-info">* Próximamente</small>
          </a>
          <a class="list-group-item list-group-item-action list-group-item-light" data-dismiss="modal">
            <i class="mdi mdi-file-document"></i> Receta de Interconsulta <small class="text-info">* Próximamente</small>
          </a>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<!-- modal digitales -->
<div class="modal fade" id="digitales" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title" >
          <i class="mdi mdi-folder-open"></i>
          Documentos digitales <i class="fa fa-refresh fa-spin fa-1x fa-fw" *ngIf="refresh"></i>
        </h5>
        <button type="button" class="close text-white seleccion" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Digitales MV -->
      <div class="modal-body" *ngIf="paciente.id_registro=='1'">
        <table class="table table-bordered table-hover table-sm table-responsive" >
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Tipo</th>
              <th class="text-center">Archivo</th>
              <th class="text-center">Fecha</th>
              <th class="text-center">Usuario</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let doc of digitales.listaDigitales; let i = index">
              <td class="text-center text-muted">
                <small>{{ i+1 }}</small>
              </td>
              <td>{{ doc.TID_nombre }}</td>
              <td class="text-center">
                <small>
                  <a href="http://medicavial.net/registro/{{ doc.Arc_Archivo }}" target="_blank" class="text-info">
                    Visualizar
                    <i class="mdi mdi-open-in-new"></i>
                  </a>
                </small>
              </td>
              <td class="text-center text-muted"><small>{{ doc.Arc_fecreg | slice:0:10 | date:'dd/MMMM/yyyy' }}</small></td>
              <td class="text-center text-muted"><small>{{ doc.USU_login }}</small></td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Digitales Zima -->
      <div class="modal-body" *ngIf="paciente.id_registro=='2'">
        <table class="table table-bordered table-hover table-sm table-responsive">
          <thead>
            <tr>
              <th class="text-center">#</th>
              <th class="text-center">Tipo</th>
              <th class="text-center">Archivo</th>
              <th class="text-center">Fecha</th>
              <th class="text-center">Usuario</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let doc of digitales.listaDigitales; let i = index">
              <td class="text-center text-muted">
                <small>{{ i+1 }}</small>
              </td>
              <td>({{ doc.TipArc_nombre }}) <span class="text-muted">{{ doc.Arc_obs }}</span></td>
              <td class="text-center">
                <small>
                  <a href="http://pmzima.net/{{ doc.Archivo_ruta }}" target="_blank" class="text-info">
                    Visualizar
                    <i class="mdi mdi-open-in-new"></i>
                  </a>
                </small>
              </td>
              <td class="text-center text-muted"><small>{{ doc.Arc_fecreg | slice:0:10 | date:'dd/MMMM/yyyy' }}</small></td>
              <td class="text-center text-muted"><small>{{ doc.USU_login }}</small></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="modal-body" *ngIf="usuario.PER_clave === 1 || usuario.PER_clave === 3">
        <h6>Carga de documentos digitales:</h6>
        <form [formGroup]="formUpload" (ngSubmit)="upload()">
          <div class="row">
            <div class="col-md-3 espacio">
              <div class="form-group">
                <select class="form-control form-control-sm" formControlName="cveDocumento">
                  <option value="{{ tipo.TID_claveint }}" *ngFor="let tipo of digitales.tiposDigitales">
                    <span *ngIf="tipo.TID_docMV === 'digitales MV'">MV</span>
                    <span *ngIf="tipo.TID_docMV === 'Zima'">Zima</span>
                    {{ tipo.TID_nombre }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 espacio">
              <small>
                <input type="file" (change)="archivoSeleccionado($event)" id="digital" #fileInput [disabled]="formUpload.value.cveDocumento == ''">
              </small>
            </div>
            <div class="col-md-3 espacio">
              <button type="submit" class="btn btn-outline-info btn-block btn-sm"
                      [disabled]="!formUpload.valid || cargando">
                <span *ngIf="!cargando"><i class="mdi mdi-cloud-upload"></i> Subir archivo</span>
                <span *ngIf="cargando"><i class="fa fa-cog fa-spin fa-fw"></i> Cargando...</span>
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-outline-info">Alguna acción</button> -->
      </div>
    </div>
  </div>
</div>


<!-- modal facturas -->
<div class="modal fade" id="facturas" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success text-white">
        <h5 class="modal-title" >
          <i class="mdi mdi-file-multiple"></i>
          Facturas
        </h5>
        <button type="button" class="close text-white seleccion" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        hola
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-outline-success">Alguna acción</button>
      </div>
    </div>
  </div>
</div>
