<div class="container animated fadeIn">

  <div class="card border-secundary mb-3">
    <div class="card-header text-right">
      <a [routerLink]="['/paciente']" class="text-info">
        <i class="mdi mdi-arrow-left-thick"></i> Regresar al detalle del paciente
      </a>
    </div>
    <div class="card-body">
      <h4 class="card-title">Nota SOAP</h4>
      <p class="card-text text-muted">
        <i class="mdi mdi-lightbulb-on-outline"></i> Por favor llene todos los campos de este documento.
      </p>

    </div>
  </div>
</div>
