<!-- Modulo de asignación de pacientes -->
<!-- Samuel Ramírez - Octubre 2017 -->

<div class="container animated fadeIn fast">
  <div class="card border-info mb-3">
    <div class="card-body text-dark">
      <h4 class="card-title text-info"><i class="mdi mdi-account-switch"></i> Asignacion de médico para el paciente {{ paciente.nombre }}</h4>
      <p class="card-text text-secondary">
        Por favor, seleccione en la lista al médico que atenderá a éste paciente.
      </p>

      <div class="espacio"></div>

      <!-- formulario para la asignacion de médicos -->
      <form [formGroup]="asignacionForm" (ngSubmit)="guardaAsignacion()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="motivo"
                     [ngClass]="{'text-danger': asignacionForm.controls.medico.touched && !asignacionForm.controls.medico.valid}">
                <i class="mdi mdi-stethoscope"></i>
                Médico:
              </label>
              <select class="form-control" id="listaMedicos"
                      formControlName="medico"
                      [ngClass]="{'is-invalid': asignacionForm.controls.medico.touched && asignacionForm.controls.medico.value === 0}">
                <option value="0" selected disabled>
                  * Seleccione al médico
                </option>
                <option *ngFor="let medico of listadoMedicos" value="{{ medico.USU_id }}">
                  {{ medico.PER_nombre }} - {{ medico.USU_nombreCompleto | uppercase}}
                </option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label class="col-form-label" for="motivo"
                     [ngClass]="{'text-danger': asignacionForm.controls.motivo.touched && !asignacionForm.controls.motivo.valid}">
                <i class="mdi mdi-content-paste"></i>
                Motivo de asignación:
              </label>
              <input type="text" class="form-control mayuculas" id="motivo" placeholder="* Especifique el motivo de la asignación " formControlName="motivo"
                     [ngClass]="{'is-invalid': asignacionForm.controls.motivo.touched && !asignacionForm.controls.motivo.valid}">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="espacio-titulo-card"></div>
            <div class="form-group">
              <label for="motivoAsignacion">
                <i class="mdi mdi-glasses"></i>
                Observaciones:
              </label>
              <textarea class="form-control" id="motivoAsignacion" rows="4" formControlName="observaciones" placeholder="* Esto lo verá el médico al atender al paciente.">
              </textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3" style="margin: auto !important">
            <div class="espacio"></div>
            <button type="success" class="btn btn-success btn-block" [disabled]="!asignacionForm.valid || trabajando">
              <span *ngIf="!trabajando">
                <i class="mdi mdi-content-save"></i>
                Guardar
              </span>

              <span *ngIf="trabajando"><i class="fa fa-cog fa-spin fa-fw"></i></span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>




<!-- modal confirmacion -->
<div class="modal fade" id="avisoCorrecto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="mdi mdi-information text-info"></i> Aviso</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>
          <i class="mdi mdi-lightbulb-on-outline icono-grande text-secondary"></i>
          <br>
          La asignación se guardó correctamente
        </p>
        <div>
          <i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw text-info"></i>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-info">OK</button>
      </div> -->
    </div>
  </div>
</div>
